{% extends 'music/base.html' %}

{% block title %}{{ album.album_title }}{% endblock %}

{% block body %}
    {% if album %}
        <img src="{{ album.album_logo }}">
        <h2>Album: {{ album.album_title }}</h2>
        <h3>Artist: {{ album.artist }}</h3>
    {% endif %}

    <!-- if there is an error -->
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}


        {% for song in album.song_set.all %}
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="http://www.uno-en-ligne.com/images/icons/player_honest.png">
                {% endif %}
            </label>
            <br>
        {% endfor %}
{% endblock %}
